{# app/templates/macros/tricount/flag_macros.html #}
{# Macro pour générer un badge de flag cohérent dans toute l'application #}
{% macro flag_badge(flag, extra_classes='', text_hidden=False) %}
<span class="flag-badge {{ extra_classes }}" style="background-color: {{ flag.color }}" {% if text_hidden %}title="{{ flag.name }}"{% endif %}>
    {% if flag.iconify_id %}
    <span class="iconify me-1" data-icon="{{ flag.iconify_id }}"></span>
    {% elif flag.icon %}
    <span class="me-1">{{ flag.get_icon_emoji }}</span>
    {% elif flag.legacy_icon %}
    <i class="fas {{ flag.legacy_icon }} me-1"></i>
    {% endif %}
    {% if not text_hidden %}
    {{ flag.name }}
    {% endif %}
</span>
{% endmacro %}

{# Version simplifiée pour l'aperçu en édition ou création #}
{% macro flag_badge_preview(name, color, iconify_id=None, emoji=None, icon_class=None, extra_classes='', text_hidden=False) %}
<span class="flag-badge {{ extra_classes }}" style="background-color: {{ color }}" {% if text_hidden %}title="{{ name }}"{% endif %}>
    {% if iconify_id %}
    <span class="iconify me-1" data-icon="{{ iconify_id }}"></span>
    {% elif emoji %}
    <span class="me-1">{{ emoji }}</span>
    {% elif icon_class %}
    <i class="fas {{ icon_class }} me-1"></i>
    {% endif %}
    {% if not text_hidden %}
    {{ name }}
    {% endif %}
</span>
{% endmacro %}

{# Macro pour un sélecteur de flag avec affichage des icônes via Select2 #}
{% macro flag_select(name='flag_id', id=None, selected_flag=None, classes='', required=False, placeholder='Choisir un type de dépense', all_flags=None, data_attribute_expense_id=None, show_preview=false) %}
    {# Générer un ID unique si non fourni #}
    {% set select_id = id if id else 'flag-' ~ name %}
    
    <select 
        name="{{ name }}" 
        id="{{ select_id }}" 
        class="form-select flag-select {{ classes }}" 
        {% if required %}required{% endif %}
        data-flag-select="true"
        data-placeholder="{{ placeholder }}"
        {% if data_attribute_expense_id %}data-expense-id="{{ data_attribute_expense_id }}"{% endif %}
    >
        <option value="">{{ placeholder }}</option>
        
        {% for flag in all_flags %}
            <option value="{{ flag.id }}" 
                    {% if selected_flag == flag.id %}selected{% endif %}
                    data-color="{{ flag.color }}"
                    {% if flag.iconify_id %}
                        data-iconify-id="{{ flag.iconify_id }}"
                    {% elif flag.legacy_icon %}
                        data-icon-class="{{ flag.legacy_icon }}"
                    {% endif %}>
                {{ flag.name }}
            </option>
        {% endfor %}
    </select>
    
    {% if show_preview %}
    <div id="{{ select_id }}-preview" class="flag-preview mt-2 d-none">
        {# Preview caché car Select2 fournit déjà une bonne prévisualisation #}
    </div>
    {% endif %}
{% endmacro %}